- @content_class = 'edit-wiki-page' + (fluid_layout ? '' : ' limit-container-width')
- add_to_breadcrumbs _("Wiki"), project_wiki_path(@project, :home)
- add_to_breadcrumbs s_("Wiki|Pages"), project_wikis_pages_path(@project)
- if @page.persisted? && @page_dir.present?
  - add_to_breadcrumbs _(@page_dir.slug), project_wiki_dir_path(@project, @page_dir)
- if @page.persisted?
  - add_to_breadcrumbs @page.human_title, project_wiki_path(@project, @page)
- breadcrumb_title @page.persisted? ? _("Edit") : _("New")
- page_title @page.persisted? ? _("Edit") : _("New"), @page.human_title, _("Wiki")

= wiki_page_errors(@error)

.wiki-page-header.top-area.has-sidebar-toggle.flex-column.flex-lg-row
  %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .nav-text
    %h2.wiki-page-title
      - if @page.persisted?
        = render partial: 'page_title', locals: { subtitle: s_("Wiki|Edit Page") }
      - else
        = s_("Wiki|Create New Page")

  .nav-controls.pb-md-3.pb-lg-0
    - if @page.persisted?
      = link_to project_wiki_history_path(@project, @page), class: "btn" do
        = s_("Wiki|Page history")
      - if can?(current_user, :admin_wiki, @project)
        #delete-wiki-modal-wrapper{ data: { delete_wiki_url: project_wiki_path(@project, @page), page_title: @page.human_title } }

= render 'form', uploads_path: wiki_attachment_upload_url

= render 'sidebar'
